run = ["streamlit", "run", "streamlit_app.py", "--server.port", "8080", "--server.address", "0.0.0.0"]
entrypoint = "streamlit_app.py"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
deploymentTarget = "cloudrun"
run = ["sh", "-c", "streamlit run streamlit_app.py --server.port 8080 --server.address 0.0.0.0 --server.headless true --server.enableCORS=false --server.enableWebsocketCompression=false"]

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8501
externalPort = 3000
